<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html>
  <head>
    <title>Taiko: A Code-First Approach</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
  </head>

  <body>
    {{ content | safe }}
  </body>
</html>
