---
layout: base.njk
---
{% macro nav() %}
<p>
  <small>
    {% if chapter %} Chapter {{ chapter }} | {% endif %}
    <a href="/">Table of Contents</a>
  </small>
</p>
{% endmacro %}

<header>
  {{ nav() }}
  <hr/>
</header>
<article class="chapter">
  <h1>{{ page.url | heading }}</h1>
  <aside>
  {{ content |  toc | safe }}
  </aside>
  <!-- There is an ugly css hack
  to hide the chapter title from markdown. Look
  for article.chapter style -->
  {{ content | safe }}
</article>
<footer>
  <p class="footer">
    <hr/>
    {{ nav() }}
  </p>
</footer>
