---
layout: base.njk
---
{% macro nav() %}
<p>
  <small>
    {% if chapter %} Chapter {{ chapter }} | {% endif %}
    <a href="/">Table of Contents</a>
  </small>
</p>
{% endmacro %}

<header>
  {{ nav() }}
  <hr/>
</header>
<article class="chapter">
  {{ content | safe }}
</article>
<footer>
  <p class="footer">
    <hr/>
    {{ nav() }}
  </p>
</footer>
