@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face {
  font-family: 'PoppinsLatin-Bold';
  src: url('../fonts/poppins-latin/Poppins-Bold.ttf') format('truetype'),
       url('../fonts/poppins-latin/Poppins-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'PoppinsLatin-Medium';
  src: url('../fonts/poppins-latin/Poppins-Medium.ttf') format('truetype'),
       url('../fonts/poppins-latin/Poppins-Medium.otf') format("opentype");
}

@font-face {
  font-family: 'PoppinsLatin-SemiBold';
  src: url('../fonts/poppins-latin/PoppinsLatin-SemiBold.ttf') format('truetype'),
       url('../fonts/poppins-latin/PoppinsLatin-SemiBoldItalicm.otf') format("opentype");
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #25282D;
}

article.chapter {
  max-width: 42em;
  margin: 3em;
}

article.landing {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width:100%;
}

.cover, .contents {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 35em;
  margin: 3em;
}

.cover {
  flex-basis: 35em;
}

.contents {
  flex-basis: 500px;
  margin: 1.5em;
}

.contents ol {
  padding-inline-start: 20px;
}

.cover h1 {
  margin-top: 1.5em;
}

a, a:visited, a:active {
  text-decoration: none;
  color: #0e7c9d;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
  font-family: 'PoppinsLatin-SemiBold';
}

img {
  max-width: 42em;
  border: 0;
}

p {
  margin: 1em 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

li {
  line-height: 2em;
}

/* Default header styles */
h1,
h2,
h3,
#toctitle,
.sidebarblock>.content>.title,
h4,
h5,
h6 {
  font-family: 'PoppinsLatin-SemiBold';
  font-weight: normal;
  font-style: normal;
  color: #25282D;
  text-rendering: geometricPrecision;
  margin-top: 3em;
  margin-bottom: 0.5em;
  line-height: 1.2125em;
}

h1 {
  font-size: 2.125em;
  margin-top: 0;
}

h2 {
  font-size: 1.6875em;
}

h3 {
  font-size: 1.375em;
}

h4 {
  font-size: 1.125em;
}

h5 {
  font-size: 1.125em;
}

h6 {
  font-size: 1em;
  color: #2bd3ef
}

pre,
pre>code {
font-family: monospace;
background: #25282D;
color: #fff;
font-size: 16px;
display: block;
padding: 10px;
}

