@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #25282D;
  background: #fcfcfc;
  border-top:solid 1px #2bd3ef;
  margin:0;
}

@media only screen and (max-width: 600px) {
  .chapter, header, footer {
    margin: 0.5em;
  }
 
  img {
    width: 100%;
  }
}

/* Default header styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins' , "serif";
  line-height: 1.2125em;
  color: #25282D;
  text-rendering: geometricPrecision;
  text-transform: capitalize;
}

@media screen and (min-width: 800px) {
  .cover, .contents {
    max-width: 35em;
  }

  .cover img {
    width: 20em;
  }

  .cover {
    float: right;
  }

  .contents a {
    text-transform: capitalize;
  }

  .contents ol {
    padding-inline-start: 20px;
  }

  .cover h1 {
    margin-top: 1.5em;
  }

  /* Header styles for larger screens */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2em;
    font-weight: normal;
    font-style: normal;
  }

  h1 {
    font-size: 2.125em;
    margin-top: 0;
  }

  h2 {
    font-size: 1.6875em;
  }

  h3 {
    font-size: 1.375em;
  }

  h4 {
    font-size: 1.125em;
  }

  h5 {
    font-size: 1.125em;
  }

  h6 {
    font-size: 1em;
    color: #2bd3ef
  }

  h1 {
    margin: 0.67em 0;
  }

}

a, a:visited, a:active {
  text-decoration: none;
  color: #0e7c9d;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 42em;
  border: 0;
}

p {
  line-height: 1.6;
  text-align: left;
  text-align: justify;
  text-justify: inter-word;
}

code,
kbd,
pre,
samp {
  font-family: 'Roboto Mono', monospace;
}

.landing {
    display: flex;
    flex-flow: row wrap;  
    justify-content: space-between;
}

pre {
  white-space: pre-wrap;
}

li {
  line-height: 2em;
}

pre,
pre>code {
font-family: monospace;
background: #25282D;
color: #fff;
display: block;
padding: 10px;
overflow: auto;
}

code {
  padding: 2px 3px;
  background-color: #e6e6e6;
}

aside {
  margin-bottom: 3em;
}

article, header, footer {
  max-width: 42em;
  background: white;
  margin: 1em auto;
  padding: 2em;
}

header, footer {
  padding-top: 5px;
  padding-bottom: 5px;
}

footer article {
 padding-top: 5px;
 padding-bottom: 5px;
}

aside ol {
  list-style: none;
  padding-inline-start: 0;
}

.chapter img {
  margin-top: 2em;
  margin-bottom: 2em;
}

footer img {
  max-width: 8em;
  padding: 2em;
}